.home-subtitle {
  margin: 10px 0 20px;
  line-height: 24px;
}

.home-component {
  margin-top: 100px;
}

.home-button-container {
  text-align: center;
}

.image-container {
  text-align: center;
  img {
    margin: 15px 0;
    max-width: 80px;
    margin-right: 7px;
  }
}

hr {
  border-top: 1px solid rgba(255, 152, 0, 0.25);
}
