// Results Component
.results-component {
  overflow-y: scroll;
}

.result-details {
    td, th {
    min-width: 0.25vw;
    padding: 7px;
  }
  &:hover {
    cursor: pointer;
    background: $secondary3 !important;
  }
}

.results-table {
  margin-top: 15px;
  min-width: 100%;
  h2 {
    margin: 0;
    margin-left: 2px;
    padding: 5px 10px;
  }
  th {
    background-color: $secondary2;
  }
}

.result-details {
  table-layout: fixed;
}

.button-container {
  text-align: center;
  margin: 20px 0;
}

.no-results, .is-fetching, .invalid {
  margin-top: 50px;
  text-align: center;
}

.new-search {
  margin-top: 100px;
}
