// Search Component

.search-items-per-page {
  margin: 10px;
}

.search-reset {
  margin: 10px;
}

.search-bar {
  margin: 10px;
}

.search-label {
  margin-left: 10px !important;
}

.search-row {
  background-color: $secondary1;
}

.search-intro-text {
  margin-left: 10px;
}
