// Main

$font-serif: 'Asar', serif;
$font-sans: 'Abel', sans-serif;

$primary1: #339cb7;
$primary1_darken: #2d859b;
$primary3: #FF9800;
$primary3_darken: #e98b00;
$secondary1: #d5f6ff;
$secondary3: #ecfbff;
$secondary2: #fff2de;

@import 'results';
@import 'search';
@import 'home';
@import 'show';

html {
  font-size: 62.5%;
  body, p, .form-control {
    font-size: 1.6rem;  /* =14px */
    font-family: $font-sans !important;
  }
  h3 {
    font-size: 1.9rem; /* =24px */
    font-family: $font-serif !important;
  }
  h1 {
    font-size: 3rem;
    font-family: $font-serif !important;
  }
  h2 {
    font-size: 2.3rem;
    font-family: $font-serif !important;
  }
}

label {
  margin-bottom: 10px !important;
}

.no-button {
  display: none;
}

.btn-default {
  background: $primary3 !important;
  border-color: $primary3_darken !important;
  margin-right: 5px !important;
  margin-bottom: 10px !important;
  &:hover {
    background: $primary3_darken !important;
  }
}

.btn-primary {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: $primary1 !important;
  border-color: $primary1_darken !important;
  &:hover {
    background-color: $primary1_darken !important;
  }
}
