// Main

$font-serif: 'Asar', serif;
$font-sans: 'Abel', sans-serif;

$primary3: #FF9800;
$primary3_darken: #e98b00;

@import 'results';
@import 'search';
@import 'home';

html {
  font-size: 62.5%;
  body, p, .form-control {
    font-size: 1.6rem;  /* =14px */
    font-family: $font-sans !important;
  }
  h3 {
    font-size: 2.4rem; /* =24px */
    font-family: $font-serif !important;
  }
  h1 {
    font-size: 3rem;
    font-family: $font-serif !important;
  }
  h2 {
    font-size: 2.8rem;
    font-family: $font-serif !important;
  }
}

.no-button {
  display: none;
}

.btn-default {
  background: $primary3 !important;
  border-color: $primary3_darken !important;
  margin-right: 5px !important;
  &:hover {
    background: $primary3_darken !important;
  }
}
