.results-component {
  overflow-y: scroll; }

.result-details td, .result-details th {
  min-width: 0.25vw;
  padding: 7px; }

.result-details:hover {
  cursor: pointer;
  background: #ecfbff !important; }

.results-table {
  margin-top: 15px; }
  .results-table h3 {
    margin: 0;
    margin-left: 2px;
    padding: 5px 10px; }
  .results-table th {
    background-color: #fff2de; }

.result-details {
  table-layout: fixed; }

.button-container {
  text-align: center;
  margin: 20px 0; }

.no-results, .is-fetching, .invalid {
  margin-top: 50px;
  text-align: center; }

.search-items-per-page {
  margin: 10px; }

.search-reset {
  margin: 10px; }

.search-bar {
  margin: 10px; }

.search-label {
  margin-left: 10px !important; }

.search-row {
  background-color: #d5f6ff; }

.search-intro-text {
  margin-left: 10px; }

.home-subtitle {
  margin: 10px 0 20px; }

.home-component {
  margin-top: 100px; }

.home-button-container {
  text-align: center;
  margin: 30px 0; }

html {
  font-size: 62.5%; }
  html body, html p, html .form-control {
    font-size: 1.6rem;
    /* =14px */
    font-family: "Abel", sans-serif !important; }
  html h3 {
    font-size: 2.4rem;
    /* =24px */
    font-family: "Asar", serif !important; }
  html h1 {
    font-size: 3rem;
    font-family: "Asar", serif !important; }
  html h2 {
    font-size: 2.8rem;
    font-family: "Asar", serif !important; }

label {
  margin-bottom: 10px !important; }

.no-button {
  display: none; }

.btn-default {
  background: #FF9800 !important;
  border-color: #e98b00 !important;
  margin-right: 5px !important;
  margin-bottom: 10px !important; }
  .btn-default:hover {
    background: #e98b00 !important; }

.btn-primary {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #339cb7 !important;
  border-color: #2d859b !important; }
  .btn-primary:hover {
    background-color: #2d859b !important; }
